*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}
@font-face{
    font-family: KumbhSans-Bold;
    src: url("../fonts/KumbhSans-Bold.ttf");
}
@font-face{
    font-family: KumbhSns-Regular ;
    src: url("../fonts/KumbhSans-Regular.ttf");
}
body{
    margin: 100px;
}
.container{
    display: flex;
    justify-content:space-between;
}
.head{
    font-family: KumbhSans-Bold;
    font-size: 56px;
    color: #333950;
    margin-top: 110px;
    margin-bottom: 15px;
}
.head2{
     font-family:KumbhSns-Regular;
    font-size: 18px;
    color: #333950;
     margin-bottom: 40px;

}
.button{
        padding: 15px;
        border-radius: 28px;
        background-color: #5175FF;
        border: none;
        width: 130px;
        text-transform: capitalize;
        color:#FFFFFF;
}
.plan-information{
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

  /* start plan 1 */
.plan{
    padding: 40px;
    background-color: #FFFFFF;
}
.plan:hover{
      background-color: #5175FF;
      border-radius: 4%;
      color: #FFFFFF;
  }
.info{
    font-family: KumbhSans-Bold;
    font-size: 20px;
    margin-bottom: 40px;
}
.price{
    font-family: KumbhSans-Bold;
    font-size: 56px;
}
.users{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 40px;
}
.ducx{
    font-family:KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 25px;
}
.fast{
    font-family:KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 20px;

}
.support{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 30px;

}
.the-button-for-year{
    padding: 15px;
    border-radius: 28px;
    background-color: rgba(red, green, blue, alpha);
    border: none;
    width: 120px;
    color: #5175FF;
}
.plan:hover .the-button-for-year{
    background-color: white;

}
/* start plan 2 */
.plan2{
    padding: 50px;
    background-color: #FFFFFF;


}
.plan2:hover{
    background-color: #5175FF;
    border-radius: 4%;
    color: #FFFFFF;
}
.plan2 .pro{
    font-family: KumbhSans-Bold;
    font-size: 20px;
    margin-bottom: 40px
}
.plan2 .priced{
    font-family: KumbhSans-Bold;
    font-size: 56px;
}
.plan2 .per-user{
    font-family: KumbhSns-Regular;
    font-size: 16px; 
    margin-bottom: 40px
}
.plan2 .all{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 25px;
}
.plan2 .fasted{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 20px;

}
.plan2 .control{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    margin-bottom: 30px;

}
.plan2 .button-try{
    padding: 15px;
    border-radius: 28px;
    background-color: rgba(red, green, blue, alpha);
    color: #5175FF;
    border: none;
    width: 130px;
}
.plan2:hover .button-try{
    background-color: white;
}
/* first plan 3 */
.plan3{
    padding: 50px;
    background-color: #FFFFFF;


}
.plan3:hover{
    background-color: #5175FF;
    border-radius: 4%;
    color: #FFFFFF;
}
.plan3 .ultimate{
    font-family: KumbhSans-Bold;
    font-size: 20px;
    margin-bottom: 40px;
}
.plan3 .cost{
    font-family: KumbhSans-Bold;
    font-size: 56px;
}.plan3 .monthly{
    font-family: KumbhSns-Regular;
    font-size: 16px; 
    margin-bottom: 40px;
}
.plan3 .work{
    font-family: KumbhSns-Regular;
    font-size: 16px; 
    margin-bottom: 25px;

}
.plan3 .storge{
    font-family: KumbhSns-Regular;
    font-size: 16px; 
    margin-bottom: 20px;

}
.plan3 .vip{
    font-family: KumbhSns-Regular;
    font-size: 16px; 
    margin-bottom: 30px;

}
.plan3 .plan-button3{
    padding: 15px;
    border-radius: 28px;
    background-color: rgba(red, green, blue, alpha);
    color: #5175FF;
    border: none;
    width: 130px;
}
.plan3:hover .plan-button3{
    background-color: white;

}
 .details-time{
    /* margin-left: 5%; */
    margin-right: 20%;
}
.information{
    display: flex;
    justify-content:space-between;
}
.The-day{
    background-color: #333950;
    text-align: center;
    padding: 20px;
    border-radius: 5%;

}
.details .date{
    font-family: KumbhSans-Bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.details .date1{
    font-family: KumbhSans-Bold;
    font-size: 16px;
    color: #5175FF;
    letter-spacing: 8px;
    padding: 20px;
}
.The-hour{
    background-color: #333950;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
}
.information .D47{
    font-family: KumbhSns-Regular;
    font-size: 56px;
    color:#FFFFFF;
   
}
.information .day{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    color:#707070;
}
.The-minutes{
    background-color: #333950;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
}
.information .H07{
    font-family: KumbhSns-Regular;
    font-size: 56px;
    color:#FFFFFF;
}
.information .hour{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    color:#707070;
}
.The-sec{
    background-color: #333950;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
}
.information .M56{
    font-family: KumbhSns-Regular;
    font-size: 56px;
    color:#FFFFFF;
}
.information .minute{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    color:#707070;
}
.information .S14{
    font-family: KumbhSns-Regular;
    font-size: 56px;
    color:#FFFFFF;
}
.information .sec{
    font-family: KumbhSns-Regular;
    font-size: 16px;
    color:#707070;
}
.finish-button{
    margin-left: 400px;
}
.information .last-button{
    padding: 15px;
    border-radius: 28px;
    background-color: #5175FF;
    border: none;
    width: 120px;
    text-transform: capitalize;
    color:#FFFFFF;
    width: 130px;
    margin-top: 30px;
}

